## files and patterns to ignore

# The usual suspects

*~
*.bak
*.zip
*.tgz
*.tar.gz
*.Z
*.bzip2

.DS_Store
.backups/

# the following files are created by install.sh
newwiki.sh
skel/index.php

# Disregard the dynamic portion
var/*
!var/README
