<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$HTMLTitle</title>
	<meta name="generator" content="TextMate http://macromates.com/" />
	<meta name="author" content="Tamara Temple" />
	<meta name="copyright" content="Copyright (c) 2011- Tamara Temple Web Development"  />
	<meta name="license" content="GPLv3"  />
	<!-- Date: 2011-09-18 -->
	<!--HTMLHeader-->
</head>
<body>
	<img src="$PageLogoUrl" alt="$WikiTitle" id="PageLogo"  />
	<table id="page">
		<tr>
			<td id="content" rowspan="3">
				<!--PageTitleFmt-->
				<!--wiki:$Group.WikiTrail $SiteGroup.WikiTrail-->
				<!--wiki:$Group.PageTitle $SiteGroup.PageTitle-->
				<!--/PageTitleFmt-->
				<!--PageHeaderFmt-->
				<!--/PageHeaderFmt-->
				<!--PageText-->
				<!--PageFooterFmt-->
				<!--/PageFooterFmt-->
			</td>
			<td id="sitetitle">$WikiTitle</td>
		</tr>
		<tr>
			<td id="actions">
			<!--PageActionFmt-->
			<!--wiki:$Group.PageActions $SiteGroup.PageActions-->
			<!--/PageActionFmt-->
			</td>
		</tr>
		<tr>
			<td id="sidebar">
				<!--PageRightFmt-->
				<!--wiki:$Group.SideBar $SiteGroup.SideBar-->
				<!--/PageRightFmt-->
			</td>
		</tr>
	</table>
	<!--wiki:$Group.PageFooter $SiteGroup.PageFooter-->
	<!--HTMLFooter-->
</body>
</html>
